/*
################
Colors
################
*/
$black: #000;
$white: #fff;
$dark-red: #931a1a;
$light-yellow: #e8dcc2;
$light-black: #262524;
$brown: #977a5a;


/*
################
Screen Size
################
*/
$mobile: 600px;


/*
################
Font-Family
################
*/
$roboto: 'Roboto', sans-serif;
