#rewards {
    font-family: $roboto;
    background-image: url('/born/img/texture-slate.png');
    background-size: contain;
    background-color: $light-black;


    h2 {
        color: $white;
        font-size: 2.6rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        font-weight: 700;
        padding: 40px 0;
    }

    .offer-forms {
        width: 56%;
        overflow: hidden;
    }

    .offer-wrapper {
        width: 48%;
        float: left;
        margin-bottom: 15px;
        overflow: hidden;

        // Every first element on the row will give a margin-right
        &:nth-of-type(2n -1) {
            margin-right: 2%;
        }

    }

    input[type=text] {
        border-radius: 0;
        background: $white;
        overflow: hidden;
        border: solid 2px $light-yellow;
        color: $black;
        font-weight: 400;
        text-transform: uppercase;
        cursor: text;
        padding: 25px;
        width: 100%;
        outline: 0;
        font-size: 16px;
        box-sizing: border-box;
        &::placeholder {
            color: $light-yellow;
            font-weight: 700;
        }
    }

    p {
        color: $white;
        float: left;
        margin-left: 3%;
        width: 45%;
        text-align: left;
        font-size: 14px;
        line-height: 20px;
    }   
}