#rewards {
    font-family: $roboto;

    h2 {
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        font-weight: 700;
        padding: 40px 0;
    }

    .offer-forms {
        width: 50%;
        background:goldenrod;
        overflow: hidden;
        padding: 10px;
    }
    .offer-wrapper {
        width: 45%;

    }

    form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    input[type=text] {
        border-radius: 0;
        overflow: hidden;
        background: $white;
        border: none;
        color: $black;
        font-weight: 400;
        padding: 0 20px;
        text-transform: uppercase;
        position: relative;
        cursor: text;
        padding: 10px;
        width: 100%;
    }
    p {
        width: 45%;
    }   
}